body {
  font-size: $size-text;
  line-height: 1.5;
  color: $c-text;
}

.title {
  color: $c-alt;
  &._medium{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &._small{
    font-size: 16px;
    font-weight: 600;
  }
  &._upper{
    text-transform: uppercase;
  }
  &._marg-left{
    margin: 0;
    margin-left: 96px;
    margin-top: -18px;
  }
}

.text{
  font-size: 18px;
  color: black;
  &._small{
    font-size: 16px;
  }
  &._color-grey{
    color: #898989;
  }
}
